@charset "UTF-8";

@font-face{
    font-family: 'idroid';
    src: url(idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #078484;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom,#0FC2C0,#0333333b,#023535);
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 9px;
    box-shadow: rgb(1 32 32 / 54%) 1px 4px 11px 6px;
    
}

main{
    padding-top: 1px;
    background-color: white;
    margin: 1px 10%;
    padding-right: 20px;
    padding-left: 20px;

    max-width: 800px;
    min-width: 280px;
    margin: auto;
}

main > a{
    text-decoration: none;
}

section > h2 {
    font-family: 'idroid','Arial','sans-serif';
    font-size: 25px;
    margin-left: 50px;
}

section > p {
    padding: 30px;
    text-indent: 30px;
    text-align: justify;
}

section > div{
    border-radius: 15px;
    margin: 10px;
    background-color: #085d5d85;
}



header > h1{
    font-size: 3em;
    padding-top: 20px;
}

header > p {
    font-size: 1.2em;
    padding: 30px;
    max-width: 500px;
    padding-bottom: 50px;
    margin: auto;
}

nav{
    text-align: left;
}

nav > a{
    
    padding: 10px;
    margin-left: 1px;
    color:white ;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > a:hover{
    color: #000000 ;
    background-color: #0d91916d;
    border-radius: 10px;
}


section > .versao{
    color: rgb(2, 137, 137);
    margin-right: 10px;
    padding-left: 5px;
    background-image: linear-gradient(to right,#07464547,#0eb3b342,white);
}

article > .esquerda{
    margin-left: 10%;
    display: inline-block;
    list-style: none;
    

}

article > .direita{
    
    margin-left: 10%;
    display: inline-block;
    list-style: none;
    
}

.listaes::before{
    content:'✔️' ;
}

.listadi::before{
    content:'✔️';
}

footer{
    color: white;
    font-size: 15px;
    background-color: #043333;
    text-align: center;
    margin-bottom: -15px;
    
}

footer > p {
    padding-top: 5px;
    padding-bottom: 5px;
}

main > #video{
    text-align: center;
    height: 350px;
    width: 100%;
    padding-top:30px ;
    padding-bottom: 30px;
    background-color: #07848483;
}

#video > iframe{
    height: 100%;
    width: 80%;
}

p > .palavra {
    color: #119f9f;
    text-decoration:none;
}









